.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.resultParagraph {
  font-size: 42px;
  font-weight: bold;
}

.button {
  background-color: white;
  color: red;
  border-radius: 10px;
  border: none;
  padding: 15px 50px;
  font-size: 18px;
  font-family: inherit;
  font-weight: 600;
  letter-spacing: 4px;
  cursor: pointer;
}
