.selectorContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.selectorContainer2 {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  margin: 0 20px;
}

.selectorFirstRow {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin-bottom: -100px;
  z-index: 1;
}

.selectorLastRow {
  margin-top: -100px;
  z-index: 1;
}
